<div class="mainContainer">  
    <div class="meddSection">
        <div class="topVideoSec" >
            <iframe width="560" height="315" [src]="iframeSource" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <ul>
            <li *ngFor="let listSec of serviceJsonData">
                <div class="leftSec" (click)="getVideoSrc(listSec.snippet.resourceId.videoId)">
                    <img src="{{listSec.snippet.thumbnails.medium.url}}"   alt=""/>
                    <span class="youtubeIcon"><img src="assets/images/youtube-icon.png" > </span>
                    <h2>{{listSec.snippet.title}}</h2>
                    <p>{{listSec.snippet.description}}</p>  
                </div>
            </li>
        </ul>
    </div>
</div>

